[submodule "CS307/Schedule-It"]
	path = CS307/Schedule-It
	url = https://github.com/will-johnston/Schedule-It
[submodule "CS390VR/CS390VR-Unity"]
	path = CS390VR/CS390VR-Unity
	url = https://github.com/Changer098/CS390VR-Unity
[submodule "CS390VR/390vr-final"]
	path = CS390VR/390vr-final
	url = https://github.com/Changer098/390vr-final
[submodule "CS251"]
	path = CS251
	url = https://github.com/Changer098/CS251
