[submodule "CS307/Schedule-It"]
	path = CS307/Schedule-It
	url = https://github.com/will-johnston/Schedule-It
[submodule "CS390VR/CS390VR-Unity"]
	path = CS390VR/CS390VR-Unity
	url = https://github.com/Changer098/CS390VR-Unity
[submodule "CS390VR/390vr-final"]
	path = CS390VR/390vr-final
	url = https://github.com/Changer098/390vr-final
[submodule "CS251"]
	path = CS251
	url = https://github.com/Changer098/CS251
[submodule "CS252/Labs/CS252-lab6"]
	path = CS252/Labs/CS252-lab6
	url = https://github.com/Changer098/CS252-lab6
[submodule "CS390VR/CS390VRWebPage"]
	path = CS390VR/CS390VRWebPage
	url = https://github.com/Retera/CS390VRWebPage
[submodule "CS407/noted"]
	path = CS407/noted
	url = https://github.com/will-johnston/noted
[submodule "CS408/noted"]
	path = CS408/noted
	url = https://github.com/will-johnston/noted
